# Set up the environment
You need to install Python, NumPy, Pandas, Matplotlib and Seaborn.

In [1]:
import numpy as np
import pandas as pd

# Question 1
What's the version of Pandas that you installed?

In [2]:
pd.__version__

'2.0.3'

# Getting the data

For this homework, we'll use the California Housing Prices dataset.

In [3]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-11 16:54:48--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: ‘housing.csv’

housing.csv         100%[===================>]   1.36M  --.-KB/s    in 0.07s

2023-09-11 16:54:48 (18.4 MB/s) - ‘housing.csv’ saved [1423529/1423529]

In [4]:
df = pd.read_csv("/kaggle/working/housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

# Question 2
How many columns are in the dataset?
- [x] 10
- [ ] 6560
- [ ] 10989
- [ ] 20640

In [5]:
# Get number of cols
df.shape[1]

10

# Question 3
Which columns in the dataset have missing values?
- [ ] `total_rooms`
- [x] `total_bedrooms`
- [ ] both of the above
- [ ] no empty columns in the dataset

In [6]:
# Find cols with NaN values
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

# Question 4
How many unique values does the `ocean_proximity` column have?
- [ ] 3
- [x] 5
- [ ] 7
- [ ] 9

In [7]:
# Find `nunique` of `ocean_proximity`
df["ocean_proximity"].nunique()

5

# Question 5
What's the average value of the `median_house_value` for the houses located near the bay?
- [ ] 49433
- [ ] 124805
- [x] 259212
- [ ] 380440

In [8]:
# Calculate mean of `mesian_house_value` col
df[df["ocean_proximity"]=="NEAR BAY"]["median_house_value"].mean().round()

259212.0

# Question 6
1. Calculate the average of `total_bedrooms` column in the dataset.
2. Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.
3. Now, calculate the average of `total_bedrooms` again.
4. Has it changed?

Has it changed?

> **_Hint:_**  take into account only 3 digits after the decimal point.
- [ ] Yes
- [x] No

In [9]:
# Calculate mean of `total_bedrooms` col
avg_total_bedrooms = df["total_bedrooms"].mean().round(3)
avg_total_bedrooms

537.871

In [10]:
# Fill NaN values
df["total_bedrooms"].fillna(avg_total_bedrooms, inplace=True)
df["total_bedrooms"].mean().round(3)

537.871

# Question 7
1. Select all the options located on islands.
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T.` Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array y with values `[950, 1300, 800, 1000, 1300]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the value of the last element of `w`?

> **_Hint:_**  You just implemented linear regression. We'll talk about it in the next lesson.
- [ ] -1.4812
- [ ] 0.001
- [x] 5.6992
- [ ] 23.1233

In [11]:
# Find unique values in `ocean_proximity`
df["ocean_proximity"].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [12]:
# Select all located on 'ISLAND'
df = df[df["ocean_proximity"]=="ISLAND"]

In [13]:
# Select `housing_median_age` `total_rooms` `total_bedrooms`
df = df[["housing_median_age", "total_rooms", "total_bedrooms"]]

In [14]:
# Get the underlying NumPy array
X = df.to_numpy()

In [15]:
# Matrix-matrix multiplication
XTX = np.dot(X.T, X)

In [16]:
# Inverse of `XTX`
XTX_inv = np.linalg.inv(XTX)

In [17]:
# Create array `y`
y = np.array([950, 1300, 800, 1000, 1300])

In [18]:
# Compute `w`
w = np.dot(np.dot(XTX_inv, X.T), y)

In [19]:
# The last value of w
w[-1]

5.699229455065586